html {
  scroll-behavior: smooth; /*DESPLAZAMIENTO EN LA PAGINA*/
  
}

.logo-nombre {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.logo {
  width: 100px;
  height: auto;
}


body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f3f3f3;
  color: #210303;
}

header {
  font-size: 1.2rem;
  
  background-color: #3d0000;
  border-bottom: 1px solid #210303;
  padding: 1.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0; /*HACE QUE EL INCIO SE QUEDE ARRIBA Y NO SE MUEVA*/
  z-index: 100;
}

.encabezado {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #f8eedf;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #f8eedf;
  font-weight: 500;
  padding: 10px;
  transition: color 0.3s ease;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #d39696;
  transition: width 1s ease-in-out;
}

nav a:hover {
  color: #d39696;
  letter-spacing: 0px;
}

nav a:hover::after { 
  width: 100%;
}

.INICIO {
  text-align: center;
  padding: 2.5rem 2rem;
  background-image: url(fondo.jpg);
  background-color: #eeeeee;
  border-bottom: 3px solid #ddd;
}

.INICIO h1 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.INICIO p {
  font-size: 1.5rem;
  color: #210303;
}

.gallery {
  padding: 3rem 2rem;
}

.gallery h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: normal;
  border-left: 3px solid #000;
  padding-left: 0.6rem;
}

.carrete {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  padding-bottom: 2rem;
}

.carrete img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.carrete img:hover {
  transform: scale(1.6);
}

.footer {
  background-color: #3d0000;
  color: #f8eedf;
  text-align: center;
  padding: 2rem 1rem;
}

.footer p {
  margin: 1rem 0;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footer i {
  font-size: 1.2rem;
  color: #f8eedf;
}

.footer a {
  color: #f8eedf;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer a:hover {
  color: #d39696;
  transform: scale(1.05);
}

body {
  animation: fadeIn 1s ease-in-out;
}

.INICIO {   /*hace que la imagen se mueva diferente al scroll*/ 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
